#bnuz-content-nav {
    position: relative;
}

.bnuz-content-nav-bottom {
    align-self: flex-end;
}

.bnuz-content-nav-float {
    position: fixed;
    top: 400px;
    left: 100px;
    width: calc(100vw / 33);
}

.content-nav-button {
    width: 40%;
    height: auto;
    flex: 1 0 0;
}

.bnuz-content-nav-item {
    width: 120px;
    height: 120px;
    background-color: #e2e3e5;
    margin: 16px;
    text-align: center;
}

/* 内容导航栏激活样式 */
.bnuz-content-nav-item-active {
    font-size: x-large;
    color: #0dcaf0;
}