.bnuz-footer {
    margin: 16px 32px;
    padding: 24px 0;
    background-color: darkseagreen;
    border-radius: 30px;
    border: 2px solid cadetblue;
}

.bnuz-footer {
    display: flex;
    flex-direction: row;
}

.bnuz-contact-title {
    font-size: 36px;
    color: #e2e3e5;
    margin-left: 16px;
    text-align: center;
}

.bnuz-footer-container {
    margin: 0;
}

.bnuz-contact {
    font-size: 14px;
}