#bnuz-nav {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 1.2cm;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 18px;
    width: 100%;
}

/* 导航栏展开时的样式 */
.bnuz-nav-hover {
    background-color: #deddde;
}