body {
    margin-top: 18px;
    padding: 0;
    background-color: #bfd1ec;
}

#bnuz-nav {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 1.2cm;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 999;
    position: fixed;
    top: 18px;
    width: 100%;
}

#bunz-content {
    padding: 16px;
    margin-top: 64px;
}

.bnuz-header-image {
    width: 100%;
    height: 40%;
}

.roundRect {
    padding: 20px;
    background-color: darkseagreen;
    border-radius: 20px;
}

.bnuz-footer {
    margin: 16px 32px;
    padding: 24px 0;
    background-color: darkseagreen;
    border-radius: 30px;
    border: 2px solid cadetblue;
}

.bnuz-footer {
    display: flex;
    flex-direction: row;
}

.bnuz-contact-title {
    font-size: 36px;
    color: #e2e3e5;
    margin-left: 16px;
    text-align: center;
}

.bnuz-footer-container {
    margin: 0;
}

.bnuz-contact {
    font-size: 14px;
}

#bnuz-content-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.bnuz-content-nav-float {
    position: fixed;
    top: 400px;
    left: 100px
}

.content-nav-button {
    width: 40%;
    height: auto;
    flex: 1 0 0;
}

.bnuz-text {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.flex-order-1 {
    order: 1;
}

.flex-order-2 {
    order: 2;
}

.flex-order-3 {
    order: 3;
}

.flex-order-4 {
    order: 4;
}

.flex-order-5 {
    order: 5;
}

.flex-order-6 {
    order: 6;
}
