.mask_layer {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 1s;
}

.mask_layer_left {
    animation-name: mask_layer_left;
    transform-origin: 0 50%;
}

.mask_layer_right {
    animation-name: mask_layer_right;
    transform-origin: 100% 50%;
}

.mask_image {
    height: 70%;
    width: 100%;
}

.rotate_container {
    perspective: 2100px;

    height: 50%;
}

.mask_layer_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.zoom_container {
    position: absolute;
    left: 10%;
    top: 10%;
    animation-name: zoom;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


